@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: 599px) {
    @content;
  }
}

.App {
  background: #201218;
  height: 100vh;
  & > div {
    & + div {
      background: #201218;
      height: 100vh;
      list-style: none;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: stretch;
      overflow: hidden;
      article {
        flex: initial;
        width: 25%;
        height: 100%;
        text-align: center;
        color: #fff;
        text-decoration: none;
        box-sizing: border-box;
        padding: 2vh 1vw;
        position: relative;

        h3,
        p,
        img {
          width: 100%;
        }

        &:nth-child(1) {
          background: #816797;
          background-image: url("./assets/inner_1.jpg");
          background-size: cover;
          background-position: center center;
          align-items: stretch;

          div {
            margin: auto;
            max-height: 100%;
          }
          .gallery {
            .inner {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 1em 2em 0;

              img {
                width: 500px;
                height: 400px;
                margin: auto;
                object-fit: cover;
                object-position: center -120px;
                border-radius: 5px;
                background: #242424;
                box-shadow: 5px 5px 10px #0e0e0e, -5px -5px 10px #d6d5a830;

                &:hover {
                  transform: scale(1.1);
                  cursor: pointer;
                }
                @include tablet() {
                  width: 100%;
                  height: 200px;
                  margin: 0;
                  object-position: center -40px;
                }
              }

              @include tablet() {
                padding: 1em;
              }
            }
          }

          &:hover {
            width: 70%;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
            & > h2 {
              bottom: 2.2vh;
              font-size: 3vh;
              opacity: 0;
            }
          }

          h3 {
            color: #d6d5a8;
            font-size: 42px;
            @include tablet() {
              font-size: 32px;
            }
          }

          & > h2 {
            color: #d6d5a8;
          }
        }
        &:nth-child(2) {
          background: #d6d5a8;
          background-image: url("./assets/inner_2.jpg");
          background-size: cover;
          background-position: center center;
          div {
            margin: auto;
            max-height: 100%;
          }
          .gallery {
            .inner {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              padding: 1em 5em;
              overflow: hidden;

              img {
                width: 100%;
                height: 400px;
                margin: 2em auto;
                object-fit: cover;
                object-position: center center;
                border-radius: 5px;
                background: #242424;
                box-shadow: 5px 5px 10px #0e0e0e, -5px -5px 10px #81679730;

                &:hover {
                  transform: scale(1.1);
                  cursor: pointer;
                }
                @include tablet() {
                  width: 100%;
                  height: 200px;
                  margin: 0;
                  object-position: center 0px;
                }
              }

              @include tablet() {
                padding: 1em;
                flex-direction: column-reverse;
              }
            }
          }

          &:hover {
            width: 70%;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
            & > h2 {
              bottom: 2.2vh;
              font-size: 3vh;
              opacity: 0;
            }
          }

          h3 {
            color: #816797;
            font-size: 42px;
            @include tablet() {
              font-size: 32px;
            }
          }

          & > h2 {
            color: #816797;
          }
          @include tablet() {
            background-position: -330px center;

            &:hover {
              background-position: center center;
            }
          }
        }

        &:nth-child(3) {
          background: #816797;
          background-image: url("./assets/inner_3.jpg");
          background-size: cover;
          background-position: center center;
          div {
            margin: auto;
            max-height: 100%;
          }

          .gallery {
            .inner {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 20px;
              padding: 1em 5em;

              img {
                width: 100%;
                height: 400px;
                margin: 2em auto;
                object-fit: cover;
                object-position: center -100px;
                border-radius: 5px;
                background: #242424;
                box-shadow: 5px 5px 10px #0e0e0e, -5px -5px 10px #d6d5a830;

                &:hover {
                  transform: scale(1.1);
                  cursor: pointer;
                }
                @include tablet() {
                  width: 100%;
                  height: 200px;
                  margin: 0;
                  object-position: center 0px;
                }
              }

              @include tablet() {
                padding: 1em;
                flex-direction: column;
              }
            }
          }

          &:hover {
            width: 70%;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
            & > h2 {
              bottom: 2.2vh;
              font-size: 3vh;
              opacity: 0;
            }
          }

          h3 {
            color: #d6d5a8;
            font-size: 42px;
            @include tablet() {
              font-size: 32px;
            }
          }

          & > h2 {
            color: #d6d5a8;
          }
          @include tablet() {
            background-position: -150px center;

            &:hover {
              background-position: center center;
            }
          }
        }
        &:nth-child(4) {
          background: #d6d5a8;
          background-image: url("./assets/inner_4.jpg");
          background-size: cover;
          background-position: center center;
          div {
            margin: auto;
            max-height: 100%;
          }
          .gallery {
            .inner {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding: 2em 5em 0;

              img {
                width: 500px;
                height: 400px;
                margin: auto;
                object-fit: cover;
                object-position: center -120px;
                border-radius: 5px;
                background: #242424;
                box-shadow: 5px 5px 10px #0e0e0e, -5px -5px 10px #81679730;

                &:hover {
                  transform: scale(1.1);
                  cursor: pointer;
                }
                @include tablet() {
                  width: 100%;
                  height: 200px;
                  margin: 0;
                  object-position: center 0px;
                }
              }

              @include tablet() {
                padding: 1em;
              }
            }
          }

          &:hover {
            width: 70%;
            box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
            & > h2 {
              bottom: 2.2vh;
              font-size: 3vh;
              opacity: 0;
            }
          }

          h3 {
            color: #816797;
            font-size: 42px;
            @include tablet() {
              font-size: 32px;
            }
          }

          & > h2 {
            color: #816797;
          }
          @include tablet() {
            background-position: -260px center;
          }
        }
        &:hover {
          width: 70%;

          & > h2 {
            bottom: 2.2vh;
            font-size: 3vh;
            opacity: 0;
          }
        }

        h3 {
          margin: 1em auto 0;
        }

        & > h2 {
          bottom: 2.2vh;
          left: 0;
          position: absolute;
          text-align: center;
          width: 100%;
          margin: 0;
          font-size: 3vh;
          transform: rotate(90deg);
          bottom: 23vh;
          min-width: 12em;
          text-align: left;
          transform: rotate(-90deg);
          transform-origin: 0 0 0;
          opacity: 1;
        }
      }
      &:hover {
        article {
          flex: initial;
          width: 10%;
          & > h2 {
            bottom: 2.8vh;
            font-size: 2vh;
          }
        }
      }
    }
    &:first-child {
      position: fixed;
      bottom: 5vh;
      background: #000;
      opacity: 0.8;
      color: #fff;
      width: 100%;
      text-align: center;
      padding: 1rem 0;
      z-index: 2;

      & > h1 {
        font-size: 52px;
        color: #d6d5a8;
      }

      & > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 10px;

        li {
          font-size: 21px;
          color: #d6d5a8;

          & > a {
            color: #d6d5a8;
            text-decoration: none;

            &::after {
              content: "";
            }
            &:hover {
              cursor: pointer;
              color: #816797;
            }
          }

        }
      }
    }
  }
}
body,
body > * {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
* {
  transition: all 0.3s ease 0s;
}
::selection {
  background: #000 !important;
  color: #fff !important;
}
::-moz-selection {
  background: #000 !important;
  color: #fff !important;
}
html,
body,
body > div + div {
  width: 100vw;
  height: 100vh;
}
body > div:first-child h1,
body > div:first-child h2 {
  margin: 0;
  padding: 0;
}
article {
  & > div {
    opacity: 0;
    transition: opacity 0.2s ease 0;
    text-align: center;
    width: 58vw;
  }

  &:hover {
    & > div {
      opacity: 1;
      transition: opacity 0.3s ease 0.3s;
    }
  }
  div {
    max-height: calc(72%);
    overflow-y: hidden;
    article {
      div {
        p {
          width: 50vw;
        }
      }
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
}
a {
  color: #fff;
  text-decoration: none;
  &:after {
    content: " >";
  }
  &:hover {
    text-decoration: underline;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.col-6 {
  width: 50%;
  float: left;
}

.gallery {
  overflow-y: hidden;
  .inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 22px;
    grid-template-areas: "photo-1 photo-1 photo-2 photo-3 photo-3 photo-4" "photo-5 photo-5 photo-2 photo-3 photo-3 photo-4" "photo-5 photo-5 photo-2 photo-7 photo-8 photo-4" "photo-6 photo-6 photo-6 photo-7 photo-8 photo-9" "photo-6 photo-6 photo-6 photo-7 photo-8 photo-9";

    div {
      background-color: #000;
      background-size: cover;
      background-position: center;
      &:nth-child(1) {
        grid-area: photo-1;
      }
      &:nth-child(2) {
        grid-area: photo-2;
      }
      &:nth-child(3) {
        grid-area: photo-3;
      }
      &:nth-child(4) {
        grid-area: photo-4;
      }
      &:nth-child(5) {
        grid-area: photo-5;
      }
      &:nth-child(6) {
        grid-area: photo-6;
      }
      &:nth-child(7) {
        grid-area: photo-7;
      }
      &:nth-child(8) {
        grid-area: photo-8;
      }
      &:nth-child(9) {
        grid-area: photo-9;
      }
    }
  }
}
