@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (max-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (max-width: 1200px) {
    @content;
  }
}

body,
body > * {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
* {
  transition: all 0.3s ease 0s;
}
::selection {
  background: #000000 !important;
  color: #ffffff !important;
}
::-moz-selection {
  background: #000000 !important;
  color: #ffffff !important;
}
html,
body,
body > div + div {
  width: 100vw;
  height: 100vh;
}
body > div:first-child h1,
body > div:first-child h2 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  margin: 0;
}

.App {
  background: #000;
  max-width: 100vw;
  height: 100vh;

  .banner {
    position: fixed;
    bottom: 5vh;
    background: #000;
    opacity: 0.8;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
    z-index: 2;

    h1 {
      font-size: 52px;
      color: #816797;

      @include for-tablet-landscape-up() {
        font-size: 48px;
      }
    }
    h1::selection {
      color: #d6d5a8 !important;
    }
    h1::-moz-selection {
      color: #d6d5a8 !important;
    }

    h4 {
      @include for-phone-only {
        font-size: 14px;
      }
    }

    .social-media {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 10px;
      list-style: none;
      padding: 0;

      li {
        font-size: 21px;

        a {
          color: #d6d5a8;
          text-decoration: none;

          &:hover {
            cursor: pointer;
            color: #816797;
          }
        }
      }
    }
    @include for-tablet-landscape-up() {
      bottom: 3vh;
      padding: 1em 0 0;
    }
    @include for-phone-only {
      padding: 0.5em 0 0;
    }
  }
}

.wrapper {
  max-width: 100vw;
  height: 100vh;
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;

  .folder {
    flex: initial;
    width: 25vw;
    height: 100%;
    text-align: center;
    color: #fff;
    text-decoration: none;
    box-sizing: border-box;
    padding: 2vh 1vw;
    position: relative;

    &:nth-child(1) {
      background: #816797;
      background-image: url("./assets/inner_1.jpg");
      background-size: cover;
      background-position: center center;
      align-items: stretch;

      .content {
        .gallery {
          .inner {
            flex-direction: column;

            .thumbnail {
              object-fit: cover;
              object-position: center -40px !important;
              @include for-desktop-up() {
              }
            }
          }
        }
      }

      h2 {
        color: #d6d5a8;
      }

      &:hover {
        width: 70%;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
        h2 {
          opacity: 0;
        }
      }

      @include for-tablet-landscape-up() {
        background-position: center;

        &:hover {
          background-position: center center;
        }
      }
      @include for-phone-only {
        background-position: -100px center;

        &:hover {
          background-position: -center center;
        }
      }
    }

    &:nth-child(2) {
      background: #d6d5a8;
      background-image: url("./assets/inner_2.jpg");
      background-size: cover;
      background-position: center left;

      h3 {
        color: #816797;
      }

      .content {
        .gallery {
          .inner {
            display: flex;
            gap: 50px;
            overflow: hidden;

            .thumbnail {
              object-fit: cover;
              object-position: -90px center !important;
              @include for-tablet-landscape-up() {
                margin: 0;
                object-position: center 0px;
              }
              @include for-phone-only() {
                object-position: center center !important;
              }
            }

            @include for-tablet-portrait-up() {
              flex-direction: column-reverse;
            }
            @include for-phone-only() {
              flex-direction: column-reverse;
            }
          }
        }
      }

      h2 {
        color: #816797;
      }

      &:hover {
        width: 70%;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
        h2 {
          opacity: 0;
        }
      }
      @include for-tablet-landscape-up() {
        background-position: center center;

        &:hover {
          background-position: center center;
        }
      }
      @include for-phone-only {
        background-position: -230px center;

        &:hover {
          background-position: -center center;
        }
      }
    }

    &:nth-child(3) {
      background: #816797;
      background-image: url("./assets/inner_3.jpg");
      background-size: cover;
      background-position: center center;

      .content {
        .gallery {
          .inner {
            gap: 50px;
            overflow: hidden;

            .thumbnail {
              object-fit: cover;
              object-position: center -80px !important;
              @include for-tablet-landscape-up() {
                margin: 0;
                object-position: center 0px;
              }@include for-phone-only() {
                object-position: center center !important;
              }
            }
            
            @include for-tablet-portrait-up() {
              flex-direction: column;
            }
            @include for-phone-only() {
              flex-direction: column;
            }
          }
        }
      }

      h2 {
        color: #d6d5a8;
      }

      &:hover {
        width: 70%;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
        h2 {
          opacity: 0;
        }
      }

      @include for-tablet-landscape-up() {
        background-position: center center;
      }
    }

    &:nth-child(4) {
      background: #d6d5a8;
      background-image: url("./assets/inner_4.jpg");
      background-size: cover;
      background-position: center center;

      h3 {
        color: #816797;
      }

      .content {
        .gallery {
          .inner {
            flex-direction: column;

            .thumbnail {
              object-fit: cover;
              object-position: center -50px !important;

              @include for-tablet-landscape-up() {
                margin: 0;
                object-position: center 0px;
              }
              @include for-phone-only() {
                object-position: center -20px !important;
              }
            }
          }
        }
      }

      h2 {
        color: #816797;
      }

      &:hover {
        min-width: 70%;
        box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.7);
        & > h2 {
          bottom: 2.2vh;
          font-size: 3vh;
          opacity: 0;
        }
      }

      @include for-tablet-landscape-up() {
        background-position: center center;
      }
    }
    &:hover {
      width: 70%;

      h2 {
        opacity: 0;
      }
    }

    h2 {
      bottom: 2.2vh;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      margin: 0;
      font-size: 3vh;
      transform: rotate(90deg);
      bottom: 23vh;
      min-width: 12em;
      text-align: left;
      transform: rotate(-90deg);
      transform-origin: 0 0 0;
      opacity: 1;
    }
  }
  &:hover {
    .folder {
      flex: initial;
      width: 10vw;
      h2 {
        bottom: 2.8vh;
        font-size: 2vh;
      }
    }
  }
}

.folder {
  h3 {
    color: #d6d5a8;
    font-size: 42px;
    transform: translateY(20px);
    @include for-tablet-landscape-up() {
      font-size: 32px;
    }
    @include for-phone-only() {
      font-size: 24px;
    }
  }

  .content {
    opacity: 0;
    transition: opacity 0.2s ease 0;
    text-align: center;
    width: 58vw;
    margin: auto;
    max-height: 100%;
    max-height: calc(99%);
    overflow-y: hidden;

    .gallery {
      .inner {
        min-height: 70vh;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
        padding: 1em 2em 0;

        p {
          width: 50%;
          margin: 0 auto;

          @include for-tablet-landscape-up() {
            font-size: 14px;
            width: 100%;
          }
          @include for-tablet-portrait-up() {
            width: 100%;
          }
          @include for-phone-only() {            
            width: 100%;
          }
        }

        .thumbnail {
          min-width: 400px;
          max-width: 400px;
          min-height: 400px;
          max-height: 400px;
          border-radius: 5px;
          background: #242424;
          box-shadow: 5px 5px 10px #0e0e0e, -5px -5px 10px #d6d5a830;

          &:hover {
            transform: scale(1.1);
            cursor: pointer;
          }
          @include for-desktop-up() {
            min-width: 350px;
            max-width: 350px;
            min-height: 350px;
            max-height: 350px;
          }
          @include for-tablet-landscape-up() {
            min-width: 280px;
            max-width: 280px;
            min-height: 280px;
            max-height: 280px;
          }
          @include for-phone-only() {
            min-width: 100%;
            max-width: 100%;
            min-height: 200px;
            max-height: 200px;
          }
        }

        @include for-tablet-landscape-up() {
          min-height: 60vh;
          padding: 0.5em;
        }
        @include for-phone-only() {
          min-height: 80vh;
          padding: 0.2em 0.5em;
        }
      }
    }
  }
  &:hover {
    .content {
      opacity: 1;
      transition: opacity 0.3s ease 0.3s;
    }
  }
}
