@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@font-face {
    font-family: 'Fernstad';
    src: url(./assets/fonts/Fernstad.otf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fernstad';
}

p{
    font-family: 'Source Sans Pro', sans-serif;
}